* {
	box-sizing: border-box;
    list-style: none;
    text-decoration: none;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: #f5eeed;
}

.box {
	display: flex;
	width: 70%;
	background-color: white;
	height: 90%;
	box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.4);
}

.image-section {
	padding: 30px;
	width: 30%;
	height: 100%;
	background-image: url("./img/photo.jpg");
	background-size: cover;
}


.back {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 15px;
	color: rgba(0,0,0,0.5);
	font-weight: 500;
	transition: 0.3s;
}

.back-icon {
	width: 20px;
	margin-right: 5px;
	fill: rgba(0,0,0,0.5);
	transition: 0.3s;
}

.back:hover {
	color: black;
}



.text-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	height: 100%;
	padding: 30px;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
}

.nav-link {
	display: block;
	margin: 0 15px;
	text-transform: uppercase;
	color: rgba(0,0,0,0.6);
	font-weight: 500;
	transition: color 0.3s ease;
}

.nav-link:hover {
	color: black;
}

.main-title {
	width: 80%;
	vertical-align: middle;
	font-family: "Playfair Display", serif;
	font-size: 60px;
	margin-bottom: 40px;
}

.main-title-section {
	display: flex;
	align-items: center;
}

.main-section {
	width: 80%;
	margin: 40px auto;
}

.subtitle {
	font-size: 24px;
	font-family: "Playfair Display", serif;
	margin-bottom: 30px;
}

.media-link {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	color: rgba(0,0,0,0.8);
}

.media-link p {
	margin-right: 10px;
}

.media-link svg {
	width: 20px;
}

.media-home {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
	background-image: url("./img/images.jpg");
	background-size: cover;
	margin-bottom: 10px;
}

.media-section {
	display: flex;
	justify-content: space-between;
}

.media-play-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,0.6);
	border: none;
	padding: 10px;
	border-radius: 50%;
}

.media {
	width: 45%;
}

.media-info {
	width: 45%;
	font-size: 17px;
	line-height: 1.4;
}